<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internet Scavenger Hunt</title>
    <link rel="shortcut icon" href="/assets/img/favicon.png">
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>
<body>
    <nav>
        <div><a id="makeTaskBtn">Make new task</a></div>
    </nav>

    <!-- This is where React will render to -->
    <section id="app">

    </section>
    <script src="/assets/appBundle.js"></script>
</body>
</html>